<form (submit)="handleSubmit($event)">
  <dx-form [formData]="customer" (onFieldDataChanged)="form_fieldDataChanged($event)">
    <dxi-item dataField="name" [isRequired]="true"></dxi-item>
    <dxi-item dataField="dateOfBirth" [isRequired]="true"></dxi-item>
    <dxi-item dataField="gender" [isRequired]="true"></dxi-item>
    <dxi-item dataField="address" [isRequired]="true"></dxi-item>
    <dxi-item dataField="email" [isRequired]="true"></dxi-item>
    <dxi-validation-rule type="email">
    </dxi-validation-rule>
    <dxi-item dataField="profession" [isRequired]="true"></dxi-item>
    <dxi-item dataField="phoneNumber" [isRequired]="true"></dxi-item>
    <dxi-item dataField="product" [isRequired]="true"></dxi-item>
    <dxi-item dataField="productCategory" [isRequired]="true"></dxi-item>
    <dxi-item itemType="button" [buttonOptions]="submitButtonOptions"></dxi-item>
  </dx-form>
</form>