  <br><br>
  <form (submit)="handleSubmit($event)">
  <dx-form [formData]="supplier">
    <dxi-item dataField="name" [isRequired]="true"></dxi-item>
    <dxi-item dataField="address" [isRequired]="true"></dxi-item>
    <dxi-item dataField="email" [isRequired]="true"></dxi-item>
    <dxi-validation-rule type="email">
    </dxi-validation-rule>
    <dxi-item dataField="phoneNumber" [isRequired]="true"></dxi-item>
    <dxi-item dataField="productCategory" [isRequired]="true"></dxi-item>
    <dxi-item itemType="button" [buttonOptions]="submitButtonOptions"></dxi-item>
  </dx-form>
  </form>